extends ./template.jade

block head

block quote
  | lfoep,cpoievnm otogkp    lkviullgöu.böööö..äüüthllnnnnöön,bbbbbbb.

block qauthor
  | selpa’i

block main
  p By clicking on Chapter 1, you have expressed interest beyond mere generalizations that capture the color but not the shape of the language.  Congratulations!
  p The first thing we should go over before the grammar is the spelling and phonology (organization of sounds and syllables) of the language.  Remember that spelling and pronunciation are exactly the same thing, only expressed in different mediums, in Lojban.
  aside Lojban can be expressed in many ways, including Elian Script, but people almost always use the Latin alphabet.  Easy to type, easy to read, easy to use.
  p Lojban uses most of the letters of the Latin alphabet, and most are pronounced similarly, but some are different.  In addition, #[span.i h], #[span.i q], and #[span.i w] are never used.
  p Lojban has exactly six vowel sounds, #[span.i a], #[span.i e], #[span.i i], #[span.i o], #[span.i u], and #[span.i y].  In English, a single vowel letter can represent many different vowel sounds, some overlapping, (English #[span.i a] can be pronunced like in "ape", "apple", or "father") but in Lojban this is not the case.  Here is a table:
  table
    tr
      td a
      td f#[span.b a]ther, m#[span.b a]rk (not as in c#[span.b a]t)
    tr
      td e
      td g#[span.b e]t, m#[span.b e]t
    tr
      td i
      td mach#[span.b i]ne, m#[span.b ee]t
    tr
      td o
      td b#[span.b o]ld, m#[span.b o]re
    tr
      td u
      td
        | t#[span.b u]lip, c#[span.b oo]l
    tr
      td y
      td
        | b#[span.b u]t, #[span.b uhh], tr#[span.b u]st
  br.space
  aside Fun fact: You don't hear #[span.i y] that often.  This is because #[span.i y] is usually only used as a "verbal hyphen"- that is, it's used to create spacing between consonants that would otherwise be unpronounceable in compound words.  Elsewhere it only occurs in names.
  p Vowels can slide from one another like so:
  table
    tr
      td ai
      td h#[span.b igh]
    tr
      td au
      td h#[span.b ow]
    tr
      td ei
      td h#[span.b ey]
    tr
      td oi
      td b#[span.b oy]
    tr
      td ia
      td
        | hi-#[span.b yah]!
    tr
      td ie
      td #[span.b ya]y
    tr
      td iu
      td.b you
    tr
      td ua
      td #[span.b waah]!
    tr
      td ue
      td q#[span.b ue]stion
    tr
      td uo
      td q#[span.b uo]te
    tr
      td ui
      td #[span.b we], French #[span.b oui]
  br.space
  aside Don't worry, when you scroll a bit further down you'll see I have some recordings of spoken Lojban that will make this easy to hear and remember.
  p Instead of "sh", Lojban uses #[span.i c] to create the same sound.  To make an English "ch" sound, you write #[span.i tc].  #[span.i c] never makes a sharp "k" sound.  Lojban #[span.i g] always makes the sound of "#[span.b g]um" and not "#[span.b g]em".  #[span.i j] always sounds like "mea#[span.b s]ure" or French "bon#[span.b j]our".
  p Now, #[span.i x] is a little bit different.  It's the #[a(href='https://en.wikipedia.org/wiki/Voiceless_velar_fricative') only consonant] that English doesn't really have.  Germans use it all the time, and the same sound is actually used in the musician Ba#[span.b ch]'s name.  It sounds kind of like the sound people make when they say "ble#[span.b ch]" when they don't like some food- you narrow the back of your tongue so the air makes sound when it gets forced through.
  aside It's seriously no big deal at all if you can't pronounce #[span.i x] right now.
  //not messing with jade to reduce those
  p The very last thing about pronunciation is symbols!  Lojban uses #[span.b.i= "'"] (apostrophe), #[span.b.i .] (period), and #[span.b.i ,] (comma, used extremely rarely).  Lojban doesn't have punctuation in the way English does, and symbols are really no different than letters in that they are pronounced too just like anything else.
  p The period expresses a #[a(href='https://en.wikipedia.org/wiki/Glottal_stop') glottal stop], the same sound a British person uses when they say "bu#[span.b.i= "'"]er" instead of "butter".  Lojban uses the glottal stop when a word begins with a vowel and not a consonant.  The apostrophe in Lojban is basically no different from English #[span.i h].  Lojban #[span.l= ".a'a"] (we are using {} to quote lojban from now on) sounds no different from English "Aha!".  However a word in Lojban can #[span.i never] start with #[span.b.i= "'"].  The apostrophe considered a separator of two vowels into two syllabes.  Lastly, the comma is used exclusively in names when someone wants to be explicit that a vowel slide is two syllables (such as how "Stewart" is two syllables).
  aside AKA, Lojban #[span.l .stu,yrt.] = English "Stewart".  Name-words in Lojban always end in consonants and are surrounded by glottal stops.
  p Now, here's some recordings for you to listen to. TODO lol make some recordings
